{% import "icons.html" as icons %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Party Planner{% endblock %}</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <header>
        <h1>Party Planner</h1>
        <nav>
            <a href="/">Home</a> | 
            
            {% if session.user_id %}
                <a href="/event/new">New Event</a> |
                <a href="/user/{{ session.user_id }}" class="icon-row">{{ icons.user() }} My Profile ({{ session.username }})</a> |
                <a href="/logout">Logout</a>
            {% else %}
                <a href="/login">Login</a> | 
                <a href="/register">Register</a>
            {% endif %}
        </nav>
    </header>
    
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>
</body>
</html>